%h1.title フィード一覧
- @feeds.each do |feed|
  %article.media
    .media-content
      .content
        %p= feed.description
        %p= image_tag feed.image
        %small #{feed.created_at}に#{feed.user.name}さんが投稿
        - if current_user?(feed.user_id)
          %nav.level.is-mobile
            .level-left
              %span.tag.is-light あなたのフィード
            .level-right
              .level-item
                = link_to '削除', feed_path(feed.id), method: :delete, data: { confirm: '本当に削除していいですか?' }
              .level-item
                = link_to '編集', edit_feed_path(feed.id)
        - else
          %nav.level.is-mobile
            .level-right
              .level-item
                - if @favorite_feeds.include?(feed)
                  = link_to 'お気に入りにする', favorites_path(feed_id: feed.id), method: :post, class: 'button'
                - else
                  %span.tag.is-primary あなたのお気に入り
