%h1.title お気に入りフィード一覧
- @feeds.each do |feed|
  %article.media
    .media-content
      .content
        %p= feed.description
        %p= image_tag feed.image
        %small #{feed.created_at} #{feed.user.name} authored
        - if current_user?(feed.user_id)
          %nav.level.is-mobile
            .level-left
              %span.tag.is-light あなたのフィード
            .level-right
              .level-item
                = link_to '削除', feed_path(feed.id), method: :delete, data: { confirm: '本当に削除していいですか?' }
              .level-item
                = link_to '編集', edit_feed_path(feed.id)
